* {
    margin: 0;
    padding: 0;
}
body {
    max-width: 1440px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}
nav {
    display: flex;
    height: 80px;
    background-color: #52503B;
}
.nav__img {
    width: 128px;
    height: 45px;
    margin-top: 18px;
    margin-left: 120px;
}
.nav__menu {
    margin-left: 358px;
    margin-top: 30px;
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 400px;
}
.nav__menu a {
    margin-right: 24px;
}
.nav__btn {
    margin-left: 386px;
    margin-top: 19px;
    width: 117px;
    height: 42px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color:#52503B;
    line-height: 20px;
}
.baner {
    background-image: url(../img/baner.jpg);
    background-size: cover;
}
.baner__img {
    display: block;
    margin: auto;
    padding-top: 178px;
    width: 256px;
    height: 90px;
    margin-bottom: 34px;
}
.baner h1 {
    max-width: 1174px;
    color: white;
    font-size: 48px;
    line-height: 53px;
    letter-spacing: 0em;
    margin: auto;
    font-weight: 300;
    text-align: center;
    margin-bottom: 34px;
}
.baner p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 117px;
}
.baner__frame {
    width: 60px;
    height: 65px;
    display: block;
    margin: auto;
    padding-bottom: 90px;
}
.info {
    padding-top: 100px;
    background-color: #FAF8F0;

}
.line {
    width: 42px;
    height: 8px;
    background-color: #E08631;
    margin: auto;
    margin-bottom: 33px;
}
.info__conteiner {
    display: flex; 
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
   
}
.info__conteiner__p1 {
    width: 360px;
    margin-right: 40px;
    margin-bottom: 89px;
}
.info__conteiner__p2 {
    width: 343px;
}
.slogan {
    padding-top: 100px;
}
.slogan__text {
    width: 1287px;
    margin: auto;
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    text-align: center;
    color: #52503B;
    margin-bottom: 140px;
}
.second-baner {
    height: 600px;
    background: url(img/backgraund.jpg) no-repeat;
    background-size: cover;
}
.sleeping{
    padding-top: 100px;
    background-color: #FAF8F0;
}
.sleeping__head {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #52503B;
    margin-bottom: 14px;
}
.sleeping__text {
    margin: auto;
    width: 554px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #52503B;
    margin-bottom: 30px;
}
.sleeping__card {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
}
.sleeping__card__items {
    width: 346px;
}
.sleeping__card__items__img {
    display: block;
    margin: auto;
    margin-bottom: 12px;

}
.sleeping__card__items__head {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #52503B;
}
.sleeping__card__items__p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #52503B;
    margin-bottom: 99px;
}
.escape {
    padding-top: 100px;
    width: 1200px;
    margin: auto;
}
.escape__line {
    margin-left: 0;
}
.escape__line__head {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #52503B;
    margin-bottom: 14px;
}
.escape__line__text {
    width: 554px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #52503B;
    margin-bottom: 30px;
}
.escape__card {
    display: grid;
    grid-template-columns: 568px 568px;
    gap: 32px;
    margin-bottom: 100px;
}
.escape__card__item {
    display: flex;
}
.escape__card__item img {
    width: 36px;
    height: 36px;
    margin-right: 16px;
}
.guests {
    background-color: #FAF8F0;
    padding-top: 100px;
}
.guests__head {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #52503B;
    margin-bottom: 14px;
}
.guests__p {
    width: 572px;
    margin: auto;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #52503B;
}
.guests__card {
    padding-bottom: 150px;
    max-width: 1200px;
    margin: auto;
}
.guests__card__item {
    max-width: 584px;
    background-color: #FFFFFF;
    padding-top: 33px;
    border: 1px solid rgba(82, 80, 59, 0.1);
    border-radius: 4px;
    margin-left: 20px
}
.guests__card__item img {
    margin-bottom: 10px;
    margin-left: 31px;
}
.guests__card__item h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    margin-left: 31px;
    margin-bottom: 11px;
}
.guests__card__item p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin-left: 31px;
    margin-bottom: 19px;
}
.guests__card__item__name {
    display: block;
    padding-left: 10px;
    border-left: 2px solid #E08631;
}
.slick-arrow {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: transparent;
    color: transparent;
    border: 2px solid #52503B;
}
.slick-next {
    position: absolute;
    top: 280px;
    right: 0px;
}
.slick-prev {
    position: absolute;
    top: 280px;
    right: 75px;
}
.third-baner {
    height: 600px;
    background: url(img/baner2.png) no-repeat;
    background-size: cover;
}
.club {
    width: 1168px;
    margin: auto;
    padding-top: 100px;
    margin-bottom: 130px;
    display: flex;
}
.club__text {
    margin-right: 105px;
}
.club__line {
    margin-left: 0;
}
.club__head {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #52503B;
    margin-bottom: 14px;
}
.club__p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #52503B;
    max-width: 514px;
}
.club__card {
    display: grid;
    grid-template-columns: 260px 260px;
    row-gap: 60px;
    column-gap: 37px;
}
.club__card__item {
    display: flex;
}
.club__card__item img {
    margin-right: 16px;
    max-width: 36px;
    max-height: 36px;
}
.club__card__item p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}
.contact {
    background-color: #FAF8F0;
    padding-top: 100px;
}
.contact h2 {
    max-width: 533px;
    margin: auto;
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #52503B
}
.contact p {
    max-width: 514px;
    margin: auto;
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #52503B;
}
.contact__btn {
    width: 116px;
    height: 52px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border-radius: 6px;
}
.contact__click {
    margin: auto;
    text-align: center;
    padding-bottom: 100px;
}
.contact__first {
    border: 4px solid #52503B;
    background: transparent;
    margin-right: 20px;
}
.contact__second {
    background: #52503B;
    border: 4px solid #52503B;
    color: #FFFFFF;
}
footer {
    background-color: #52503B;
}
.footer {
    max-width: 1168px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 300px 330px 1fr;
    grid-template-rows: repeat(2, 1fr);
}
.footer__links a {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.footer__links ul {
    list-style-type: none;
}
.footer__links li {
    margin-bottom: 10px;
    margin-left: 0; 
    padding-left: 0;
}
.footer__social h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    
}
.footer__social img {
    margin-right: 28px;
}
.footer__email {
    position: relative;
}
.footer__email h5{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer__email p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    max-width: 563px;
    margin-bottom: 10px;
}
.footer__email input{
    width: 576px;
    height: 52px;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    padding-left: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #52503B;
}
.footer__email button {
    width: 61px;
    height: 30px;
    background: #52503B;
    border-radius: 10px;
    border: 1px solid #52502B;
    position: absolute;
    top: 82px;
    right: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.footer__contact {
    grid-column: 1/4;
    margin: auto;
}
.footer__contact img {
    display: block;
    width: 200px;
    height: 70px;
    margin: auto;
    margin-bottom: 20px;
}

.footer__contact p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

